exclude tests/*
exclude assets/*
exclude README.md
include textwizard/utils/tw_html_parser/*.pyx
exclude textwizard/utils/tw_html_parser/generate_gperf.py

include textwizard/utils/tw_html_parser/*.pxd
include textwizard/utils/tw_html_parser/*.c
include textwizard/utils/tw_html_parser/*.h
recursive-include textwizard/wizard_analyze_text/wizzard_lang_detect/lang_addons *
recursive-include textwizard/wizard_analyze_text/wizzard_lang_detect/profiles_trie_kn *
global-exclude *.pyd *.so
